<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Janken</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Janken GAME!</h1>
  <p>ユーザ一覧</p>
  <li th:each="user : ${users}"><a th:href="@{/match(id=${user.id})}"> [[${user.userName}]]</a></li>
  <p>結果一覧</p>
  <table th:each="match: ${matches}">
    <tr>
      <td style=" border: 1px solid black;">[[${match.id}]]</td>
      <td style=" border: 1px solid black;">[[${match.user1}]] VS [[${match.user2}]]</td>
      <td style=" border: 1px solid black;">ユーザ1の手:[[${match.user1Hand}]]</td>
      <td style=" border: 1px solid black;">ユーザ2の手:[[${match.user2Hand}]]</td>
    </tr>
  </table>
</body>

</html>
